@model ListObservation

<h1>@Model.resourceType</h1>

@using (Html.BeginForm("EditObservation", "Home", FormMethod.Post))
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Attribute
                </th>
                <th>
                    Value
                </th>
                <th>
                    Edit
                </th>
            </tr>
            <tr>
                <td>Id</td>
                <td>@Model.id</td>
            </tr>
            <tr>
                <td>Carried out</td>
                <td>@Model.meta.lastUpdated</td>
                <td><input type="date" name="CarriedOut" id="CarriedOut" value="@Model.meta.lastUpdated" /></td>
            </tr>
            <tr>
                <td>Category</td>
                <td>@Model.category.First().coding.First().display</td>
            </tr>
            <tr>
                <td>Code</td>
                <td>@Model.code.coding.First().code </td>
            </tr>
            <tr>
                <td>Observation</td>
                <td>@Model.code.text</td>
                <td><input type="text" name="Text" id="Text"  value="@Model.code.text" /></td>
            </tr>

            <tr>
                <td>QuantityValue</td>
                <td>@Model.valueQuantity.value</td>
                <td><input type="number" name="Value" id="Value" value="@Model.valueQuantity.value" /></td>
            </tr>
            <tr>
                <td>QuantityUnit</td>
                <td>@Model.valueQuantity.unit</td>
            </tr>
            <tr>
                <td>
                    <input type="hidden" name="Id" value="@Model.id" />
                    <input type="submit" value="Submit" />
                </td>
            </tr>
            
        </thead>
    </table>

}