@model List<ListPatient>


<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                <a asp-action="Patients" asp-route-sortOrder="@ViewData["NameSortParm"]">Surename and name</a>
            </th>
        </tr>
        @foreach (var patient in Model)
        {
    <tr>

        

        <td><a asp-action="Patient" asp-route-id=@patient.id>@patient.id</a></td>
        <td>
            @patient.name.First().family
            @foreach (var given in @patient.name.First().given)
            {
                <text>&nbsp;</text>@given
            }
        </td>
        <td>@patient.birthDate</td>
        <td>@patient.gender</td>
    </tr>
        }
    </thead>
</table>